In [24]:
# imports
import pandas as pd
import numpy as np

### Data preparation

In [3]:
# create the DataFrames
crime_rate_2010_to_2019_df = pd.read_csv("data\Crime_Data_from_2010_to_2019_20231222.csv")
crime_rate_2020_to_2023_df = pd.read_csv("data\Crime_Data_from_2020_to_Present_20231222.csv")
LAPD_calls_2020_df = pd.read_csv("data\LAPD_Calls_for_Service_2020_20231222.csv")
LAPD_calls_2021_df = pd.read_csv("data\LAPD_Calls_for_Service_2021_20231222.csv")
LAPD_calls_2022_df = pd.read_csv("data\LAPD_Calls_for_Service_2022_20231222.csv")

1. Data preparation to get one crime rate DataFrame and one Service calls DataFrame

In [6]:
crime_rate_df = pd.concat([crime_rate_2010_to_2019_df, crime_rate_2020_to_2023_df], ignore_index=True)

In [13]:
LAPD_calls_df = pd.concat([LAPD_calls_2020_df, LAPD_calls_2021_df, LAPD_calls_2022_df],ignore_index=False)

2. Data Quality checks

In [16]:
crime_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993433 entries, 0 to 2993432
Data columns (total 29 columns):
 #   Column          Dtype
---  ------          -----
 0   DR_NO           int64
 1   Date Rptd       object
 2   DATE OCC        object
 3   TIME OCC        int64
 4   AREA            float64
 5   AREA NAME       object
 6   Rpt Dist No     int64
 7   Part 1-2        int64
 8   Crm Cd          int64
 9   Crm Cd Desc     object
 10  Mocodes         object
 11  Vict Age        int64
 12  Vict Sex        object
 13  Vict Descent    object
 14  Premis Cd       float64
 15  Premis Desc     object
 16  Weapon Used Cd  float64
 17  Weapon Desc     object
 18  Status          object
 19  Status Desc     object
 20  Crm Cd 1        float64
 21  Crm Cd 2        float64
 22  Crm Cd 3        float64
 23  Crm Cd 4        float64
 24  LOCATION        object
 25  Cross Street    object
 26  LAT             float64
 27  LON             float64
 28  AREA            float64
dtypes: float64(10), int64(6), object(13)
memory usage: 662.3+ MB

In [20]:
crime_rate_df.head(3)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,AREA
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13.0,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,NaN
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14.0,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,NaN
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13.0,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,NaN

In [14]:
crime_rate_df.isnull().sum()

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA               857658
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            352115
Vict Age                0
Vict Sex           314958
Vict Descent       315011
Premis Cd              57
Premis Desc           717
Weapon Used Cd    1978414
Weapon Desc       1978415
Status                  3
Status Desc             0
Crm Cd 1               21
Crm Cd 2          2787544
Crm Cd 3          2987613
Crm Cd 4          2993263
LOCATION                0
Cross Street      2499025
LAT                     0
LON                     0
AREA              2135775
dtype: int64

Find logical explanations for the NaN-values

In [33]:
crime_rate_df[crime_rate_df['AREA'].isnull()]

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,AREA
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13.0,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,NaN
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14.0,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,NaN
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13.0,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,NaN
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6.0,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,NaN
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1.0,Central,176,1,122,"RAPE, ATTEMPTED",...,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135770,190506304,02/22/2019 12:00:00 AM,02/22/2019 12:00:00 AM,840,5.0,Harbor,569,2,627,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,...,Adult Other,627.0,NaN,NaN,NaN,100 W 22ND ST,NaN,33.7257,-118.2801,NaN
2135771,190608903,03/28/2019 12:00:00 AM,03/28/2019 12:00:00 AM,400,6.0,Hollywood,644,1,648,ARSON,...,Invest Cont,648.0,NaN,NaN,NaN,1400 N LA BREA AV,NaN,34.0962,-118.3490,NaN
2135772,192004409,01/06/2019 12:00:00 AM,01/06/2019 12:00:00 AM,2100,20.0,Olympic,2029,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,Invest Cont,930.0,NaN,NaN,NaN,6TH,VIRGIL,34.0637,-118.2870,NaN
2135773,191716777,10/17/2019 12:00:00 AM,10/16/2019 12:00:00 AM,1800,17.0,Devonshire,1795,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,Invest Cont,420.0,NaN,NaN,NaN,17200 NAPA ST,NaN,34.2266,-118.5085,NaN
2135774,190805435,02/01/2019 12:00:00 AM,02/01/2019 12:00:00 AM,1615,8.0,West LA,852,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,1700 BARRY AV,NaN,34.0420,-118.4531,NaN

3. Understanding the connections between the two DataFrames

First hypothesis: the crimes are included in the LAPD calls (at least the crimes which can be )